.SectionGroup {
    margin: 100px 0 0;
    height: 720px;
    width: 100%;
    display: grid;
    grid-template-rows: 300px auto;
    grid-gap: 20px;
    position: relative;
}

.SectionBackground {
    position: absolute;
    width: 100%;
    height: 720px;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 640px) {
    .SectionGroup {
        height: 820px;
    }
    .SectionBackground {
        height: 820px;
    }
}

.SectionLogo {
    width: 128px;
    margin: 0 auto;
    align-self: end;
}

.SectionTitleGroup {
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px auto;
    grid-template-rows: auto 100%;
}

@media (max-width: 840px) {
    .SectionTitleGroup {
        grid-template-columns: 1fr;
        margin: 0 20px;
    }
}

@media (max-width: 720px) {
    .SectionTitleGroup {
        grid-template-columns: 1fr;
        margin: 0 20px;
    }
}

.SectionTitle {
    color: white;
    font-size: 60px;
    margin: 0;
    line-height: 1.2;
}

.SectionText {
    color: white;
}

.WaveTop {
    position: absolute;
    width: 100%;
    top: -6px;
    transform: rotate(180deg);
}

.WaveBottom {
    position: absolute;
    width: 100%;
    bottom: -6px;
}